

.debut0 {
    float: left;
    margin-top: 1.8%;
}
.suite0 {
    float: left;
}
.tri {

}

.debut1 {
    float: left;
    margin-top: 1.8%;
}
.suite1 {
    float: left;
}

.debut2 {
    float: left;
    margin-top: 1.8%;
}
.suite2 {
    float: left; 
}